.catalog
    display: flex
    flex-direction: column
    margin-bottom: 15.625rem
    &-header
        display: flex
        justify-content: space-between
        align-items: baseline
        margin-bottom: 6.25rem
    &-items
        display: flex
        flex-direction: column

    &-item
        display: flex
        flex-direction: column
        color: $subTextColor
        margin-bottom: 6.1619rem
        max-width: 63.625rem
        &:nth-child(odd)
            margin-right: 31.1875rem
        &:nth-child(even)
            margin-left: 31.375rem

        &__title
            margin-top: 18px
            font-weight: 700
            font-size: 36px
            line-height: 130%
            text-transform: uppercase
            display: flex
            align-items: center
            font-family: $fontSG
        &__arrow
            margin-left: auto
            width: 28px
            height: 28px
