.faq
    margin-bottom: 15.625rem
    &-block
        display: flex
        justify-content: space-between
        margin-top: 50px

    &-subTitle
        max-width: 284px
        font-weight: 300
        font-size: 24px
        line-height: 130%
        font-family: $fontRoboto
    &-items
        width: 1012px

    &-item
        font-weight: 400
        font-size: 24px
        line-height: 29px
        border-bottom: solid 1px $subTextColor
        display: flex
        justify-content: space-between
        &__text
            margin: 23px 0 13px
        &__arrow-down
            transform: rotate(90deg)
            margin-right: 5px
